<div class="container mt-5">

  <div class="d-flex justify-content-end" >
    <mat-form-field appearance="outline" class="w-50"> 
      <mat-label>Search any Product</mat-label>
      <input
        #searchkeyword
        (keyup)="searchByKeyword(searchkeyword.value)"
        matInput
        name="searchKey"
        id="searchKey"
        placeholder="Search any Product"
      />
    </mat-form-field>
  </div>
  


  <mat-grid-list cols="4" rowHeight="3:5" gutterSize="10">
    <mat-grid-tile *ngFor="let p of productDetails">
      <div class="row p-5">
        <div class="image-container">
            <img class="home-page-product-image" [src]="p.productImages[0].url" />
        </div>
        
        <div class="mr-10">
          <p style="white-space: inherit; height: 40px; margin-left: 50px; width: 288px; overflow: hidden; text-overflow: ellipsis;">
            <b>{{ p.productName }}</b>
          </p>
        </div>
        <div class="mt-2">
          <p style="margin-left: 50px;">
            {{ p.productDescription }}
          </p>
        </div>
        <div class="mt-4" style="margin-left: 50px;">
              <b>Tsh. {{ p.productDiscountedPrice }}</b> &nbsp; <b style="text-decoration: line-through;">{{ p.productActualPrice }}</b> 
          </div> 
          <div class="mt-2">
            <p style="margin-left: 50px;">
                <button type="submit" mat-raised-button color="warn" (click)="showProductDetails(p.productId)">View Details</button>
            </p>
          </div>  
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <div class="text-center mt-5" style="padding-bottom: 100px;" *ngIf="showLoadButton">
    <button type="button" mat-raised-button color="primary" (click)="loadMoreProduct()">Load More</button>
  </div>
</div>
